extends layout

block content 
  .row.page-header 
    .col-lg-12 
      h1 Starcups 
  .row 
    .col-xs-12.col-md-9 
      .row 
        .col-xs-12.col-sm-6 
          p.rating 
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty 
            p 125 High Street, Reading, RG6 1PS 
            .panel.panel-primary 
              .panel-heading 
                h2.panel-title Horário de abertura
              .panel-body 
                p Monday - Friday : 7:00am - 7:00pm 
                p Saturday : 8:00am - 5:00pm
                p Sunday : closed 
            .panel.panel-primary
              .panel-heading 
                h2.panel-title Instalações 
              .panel-body
                span.label.label-warning 
                  span.glyphicon.glyphicon-ok 
                  | &nbsp;Hot drinks 
                  span.glyphicon.glyphicon-ok Revisão do cliente
                  | &nbsp;Food
                  span.glyphicon.glyphicon-ok 
                  | &nbsp;Premium wifi 
        .col-xs-12.col-sm-6.location-map 
          .panel.panel-primary 
            .panel-heading 
              h2.panel-title Mapa de localização 
            .panel-body 
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.106396475491!2d137.8715639156514!3d34.67726409197979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601aef707381d485%3A0x18ca108274f38bd5!2s844+Fukudenakajima%2C+Iwata%2C+Shizuoka+437-1204!5e0!3m2!1spt-BR!2sjp!4v1558593298308!5m2!1spt-BR!2sjp" width="380" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      .row 
        .col.xs-12 
          .panel.panel-primary.review-panel 
            .panel-heading 
              a.btn.btn-default.pull-right(href="/location/review/new") Add review 
              h2.panel-title Revisão do cliente 
            .panel-body.review-container 
              .row 
                .review 
                  .well.well-sm.review-header 
                    span.ratting 
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star 
                    span.reviewAuthor Kobori Ubiratan 
                    small.reviewTimestamp 16 July 2019 
                  .col-xs-12 
                    p What a great place, I can't say enough good things about it. 
              .row 
                .review 
                  .well.well-sm.review-header 
                    span.rating 
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Charlie Charplin 
                    small.reviewTimestamp 16 June 2019 
                  .col-xs-12 
                    p It was okay. Coffe wasn't great, but the wifi was fast. 
    .col-xs-12.col-md-3 
      p.lead Simon's cafe is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p If you've been and you like it - or if you don't - place leave a review to help other people just like you.
